*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:white;

    color:black;

    height:100vh;

}

/* ========================= */
/* ESPERA */
/* ========================= */

#espera{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    height:100vh;

}

#espera h1{

    font-size:4rem;

    margin-bottom:40px;

}

.qr{

    width:55vmin;

    max-width:650px;

    height:auto;

}

#espera p{

    margin-top:40px;

    font-size:2rem;

}
#banner{

    width:40%;

    max-width:800px;

    height:auto;

    display:block;

    margin:40px auto;

}

/* ========================= */
/* JUEGO */
/* ========================= */

#juego{

    display:flex;

    height:100vh;

}

#izquierda{

    flex:1;

    padding:40px;

    display:flex;

    flex-direction:column;

}

#derecha{

    width:320px;

    border-left:3px solid black;

    padding:25px;

    overflow-y:auto;

}

#numeroPregunta{

    font-size:2rem;

    margin-bottom:25px;

}

#pregunta{

    font-size:2.7rem;

    font-weight:bold;

    margin-bottom:35px;

}

#opciones{

    flex:1;

}

.opcion{

    border:2px solid black;

    border-radius:12px;

    padding:18px;

    margin-bottom:18px;

    font-size:2rem;

}

#contador{

    font-size:5rem;

    font-weight:bold;

    text-align:center;

    margin-top:20px;

}

#derecha h3{

    text-align:center;

    margin-bottom:20px;

}

.alumno{

    padding:8px 0;

    border-bottom:1px solid #ddd;

    font-size:1.2rem;

}

/* ========================= */
/* FIN */
/* ========================= */

#fin{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

#fin h1{

    font-size:8rem;

}

#fin h2{

    font-size:3rem;

    margin-top:30px;

}

#fin p{

    font-size:2rem;

    margin-top:20px;

}
